.section-box {
    display: inline-block;
    flex-direction:row;
    background-color: #f8f8f8;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 40px;
    max-width: 800px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    transition: 0.5s;
  }
  
  .section-box-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .section-box-title {
    color: #333;
    margin: 16px 0 8px;
    font-size: 20px;
  }
  
  .section-box-content {
    color: #666;
    font-size: 13px;
    line-height: 1.5;
  }
  
  .section-box:hover {
    transform: scale(1.10);
    box-shadow: 0 8px 16px #333;
  }
