.home-container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.banner {
    width: 100%;
    height: 500px; /* Adjust the height as needed to match magicshoprental.com's banner */
    overflow: hidden;
  }
  
  .banner img {
    width: -100%;
    height: -100%;
    object-fit: cover; /* Ensure the image covers the container */
    object-position: center;
  }
  
  