:root {
    --background-color-light: #fff;
    --background-color-dark: #333;
    --text-color-light: #333;
    --text-color-dark: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    position: relative;
    background-color: var(--background-color-light);
}

.navbar.dark {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.navbar .logo {
    height: 40%;
    width: 5%;
}

.navbar .menu-container {
    display: flex;
    align-items: center;
}

.navbar .nav-links {
    display: flex;
    list-style: none;
    transition: max-height 0.6s ease-out;
}

.navbar .nav-links li {
    margin: 15px 15px;
    cursor: pointer;
    position: relative;
}

.navbar .nav-links li.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color-light);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: max-height 0.6s ease-in-out, opacity 0.6s ease-in-out;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    border-radius: 8px;
}

.navbar .nav-links li.dropdown:hover .dropdown-content {
    display: block;
    max-height: 500px;
    opacity: 1;
}

.navbar .dropdown-content li {
    color: var(--text-color-light);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    font-size: calc(0.3rem + 0.5vw);
    text-align: center;
    justify-content: center;
}

.navbar.dark .dropdown-content {
    background-color: var(--background-color-dark);
}

.navbar.dark .dropdown-content li {
    color: #333;
}

.navbar .dropdown-content li:hover {
    background-color: #ddd;
    border-radius: 8px;
}

.navbar.dark .dropdown-content li:hover {
    background-color: #e0e0e0;
    color: #333;
}

.navbar .toggle-icon {
    cursor: pointer;
    height: 30px;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
}

/* Media Queries for Mobile View */
@media (max-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 0;
        background-color: var(--background-color-light);
        width: 100%;
        text-align: center;
        padding: 0px;
        max-height: 0px;
        overflow: hidden;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        transition: max-height 0.6s ease-out;
    }
    .navbar .logo {
        height: 25px;
        width: 80px;
    }
    .navbar.dark .dropdown-content li {
        color: white;
    }

    .navbar.dark .nav-links {
        background-color: var(--background-color-dark);
    }

    .nav-links.open {
        max-height: 100vh;
    }

    .nav-links li {
        margin: 10px 0px;
    }
    .navbar .nav-links li {
        font-size: 15px;
    }

    .hamburger {
        display: block;
    }

    .navbar .nav-links li.dropdown .dropdown-content {
        position: static;
        background-color: var(--background-color-light);
        box-shadow: none;
        max-height: none;
        overflow: visible;
        display: none;
        border-radius: 0;
        transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
        opacity: 0;
        visibility: hidden;
        
    }

    .navbar .nav-links li.dropdown:hover .dropdown-content {
        display: block;
        opacity: 1;
        visibility: visible;
        
    }

    .navbar.dark .nav-links li.dropdown .dropdown-content {
        background-color: var(--background-color-dark);
    }

    .navbar.dark .nav-links li.dropdown:hover .dropdown-content {
        display: block;
    }
}

.toggle-container {
    display: flex;
    align-items: center;
}

.theme-toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
}

.toggle-label::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.theme-toggle:checked + .toggle-label::before {
    transform: translateX(26px);
}

.theme-toggle:checked + .toggle-label {
    background-color: #2196F3;
}

.toggle-label .toggle-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 7px;
    transition: opacity 0.3s;
}

.toggle-label .toggle-icon:first-of-type {
    left: 8px;
    opacity: 1;
}

.theme-toggle:checked + .toggle-label .toggle-icon:first-of-type {
    opacity: 0;
}

.toggle-label .toggle-icon:last-of-type {
    right: 8px;
    opacity: 0;
}

.theme-toggle:checked + .toggle-label .toggle-icon:last-of-type {
    opacity: 1;
}
