.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    flex-direction: column; /* Stack columns vertically */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 10px 0;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer-column ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    color: #fff;
}

.footer-column ul li img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.social-icons {
    margin-top: 20px; /* Add margin to position social icons below text */
}

.social-icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #c4c2c2;
    padding-top: 10px;
}

.email-link {
    color: inherit; 
    text-decoration: none; 
    display: flex; 
    align-items: center;
}

.email-link:hover {
    text-decoration: underline;
}
